PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/student_task_manager?retryWrites=true&w=majority
JWT_SECRET=yourStrongJwtSecretKey
OPENAI_API_KEY=your_openai_api_key_here

